USE [master]
GO
/****** Object:  Database [TCCDB_IFSC]    Script Date: 9/1/2019 6:34:27 PM ******/
CREATE DATABASE [TCCDB_IFSC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TCCDB_IFSC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TCCDB_IFSC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TCCDB_IFSC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TCCDB_IFSC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TCCDB_IFSC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TCCDB_IFSC]
GO
/****** Object:  Table [Advisors]    Script Date: 9/1/2019 6:34:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Advisors](
	[AdvisorID] [int] IDENTITY(1,1) NOT NULL,
	[AdvisorTypeID] [int] NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](200) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Advisors] PRIMARY KEY CLUSTERED 
(
	[AdvisorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [AdvisorTypes]    Script Date: 9/1/2019 6:34:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AdvisorTypes](
	[AdvisorTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NOT NULL,
 CONSTRAINT [PK_AdvisorTypes] PRIMARY KEY CLUSTERED 
(
	[AdvisorTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Areas]    Script Date: 9/1/2019 6:34:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Areas](
	[AreaID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Areas] PRIMARY KEY CLUSTERED 
(
	[AreaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Courses]    Script Date: 9/1/2019 6:34:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keywords]    Script Date: 9/1/2019 6:34:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keywords](
	[KeywordID] [int] IDENTITY(1,1) NOT NULL,
	[Value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Keywords] PRIMARY KEY CLUSTERED 
(
	[KeywordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Keywords_TermPapers]    Script Date: 9/1/2019 6:34:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Keywords_TermPapers](
	[KeywordID] [int] NOT NULL,
	[TermPaperID] [int] NOT NULL,
 CONSTRAINT [PK_Keywords_TermPapers] PRIMARY KEY CLUSTERED 
(
	[KeywordID] ASC,
	[TermPaperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Students]    Script Date: 9/1/2019 6:34:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[TermPaperID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[RegistrationNumber] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TermPaperFiles]    Script Date: 9/1/2019 6:34:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TermPaperFiles](
	[TermPaperFileID] [int] IDENTITY(1,1) NOT NULL,
	[TermPaperID] [int] NOT NULL,
	[TermPaperFileTypeID] [int] NOT NULL,
	[FileName] [nvarchar](50) NOT NULL,
	[TermPaperData] [varchar](500) NOT NULL,
 CONSTRAINT [PK_TermPaperFiles] PRIMARY KEY CLUSTERED 
(
	[TermPaperFileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TermPaperFileTypes]    Script Date: 9/1/2019 6:34:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TermPaperFileTypes](
	[TermPaperFileTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](25) NOT NULL,
 CONSTRAINT [PK_TermPaperFileTypes] PRIMARY KEY CLUSTERED 
(
	[TermPaperFileTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TermPapers]    Script Date: 9/1/2019 6:34:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TermPapers](
	[TermPaperID] [int] IDENTITY(1,1) NOT NULL,
	[AreaID] [int] NOT NULL,
	[CourseID] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[DateBegin] [datetime] NOT NULL,
	[DateEnd] [datetime] NULL,
 CONSTRAINT [PK_TermPapers] PRIMARY KEY CLUSTERED 
(
	[TermPaperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TermPapers_Advisors]    Script Date: 9/1/2019 6:34:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TermPapers_Advisors](
	[TermPaperID] [int] NOT NULL,
	[AdvisorID] [int] NOT NULL,
 CONSTRAINT [PK_TermPapers_Advisors] PRIMARY KEY CLUSTERED 
(
	[TermPaperID] ASC,
	[AdvisorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [AdvisorTypes] ON 

INSERT [AdvisorTypes] ([AdvisorTypeID], [Name]) VALUES (1, N'Leader')
INSERT [AdvisorTypes] ([AdvisorTypeID], [Name]) VALUES (2, N'CoLeader')
INSERT [AdvisorTypes] ([AdvisorTypeID], [Name]) VALUES (3, N'TermPaperTeacher')
SET IDENTITY_INSERT [AdvisorTypes] OFF
SET IDENTITY_INSERT [TermPaperFileTypes] ON 

INSERT [TermPaperFileTypes] ([TermPaperFileTypeID], [Name]) VALUES (1, N'Report')
INSERT [TermPaperFileTypes] ([TermPaperFileTypeID], [Name]) VALUES (2, N'FinalDocument')
SET IDENTITY_INSERT [TermPaperFileTypes] OFF
ALTER TABLE [Advisors]  WITH CHECK ADD  CONSTRAINT [FK_Advisors_AdvisorTypes] FOREIGN KEY([AdvisorTypeID])
REFERENCES [AdvisorTypes] ([AdvisorTypeID])
GO
ALTER TABLE [Advisors] CHECK CONSTRAINT [FK_Advisors_AdvisorTypes]
GO
ALTER TABLE [Keywords_TermPapers]  WITH CHECK ADD  CONSTRAINT [FK_Keywords_TermPapers_Keywords] FOREIGN KEY([KeywordID])
REFERENCES [Keywords] ([KeywordID])
GO
ALTER TABLE [Keywords_TermPapers] CHECK CONSTRAINT [FK_Keywords_TermPapers_Keywords]
GO
ALTER TABLE [Keywords_TermPapers]  WITH CHECK ADD  CONSTRAINT [FK_Keywords_TermPapers_TermPapers] FOREIGN KEY([TermPaperID])
REFERENCES [TermPapers] ([TermPaperID])
GO
ALTER TABLE [Keywords_TermPapers] CHECK CONSTRAINT [FK_Keywords_TermPapers_TermPapers]
GO
ALTER TABLE [Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_TermPapers] FOREIGN KEY([TermPaperID])
REFERENCES [TermPapers] ([TermPaperID])
GO
ALTER TABLE [Students] CHECK CONSTRAINT [FK_Students_TermPapers]
GO
ALTER TABLE [TermPaperFiles]  WITH CHECK ADD  CONSTRAINT [FK_TermPaperFiles_TermPaperFileTypes] FOREIGN KEY([TermPaperFileTypeID])
REFERENCES [TermPaperFileTypes] ([TermPaperFileTypeID])
GO
ALTER TABLE [TermPaperFiles] CHECK CONSTRAINT [FK_TermPaperFiles_TermPaperFileTypes]
GO
ALTER TABLE [TermPaperFiles]  WITH CHECK ADD  CONSTRAINT [FK_TermPaperFiles_TermPapers] FOREIGN KEY([TermPaperID])
REFERENCES [TermPapers] ([TermPaperID])
GO
ALTER TABLE [TermPaperFiles] CHECK CONSTRAINT [FK_TermPaperFiles_TermPapers]
GO
ALTER TABLE [TermPapers]  WITH CHECK ADD  CONSTRAINT [FK_TermPapers_Areas] FOREIGN KEY([AreaID])
REFERENCES [Areas] ([AreaID])
GO
ALTER TABLE [TermPapers] CHECK CONSTRAINT [FK_TermPapers_Areas]
GO
ALTER TABLE [TermPapers]  WITH CHECK ADD  CONSTRAINT [FK_TermPapers_Courses] FOREIGN KEY([CourseID])
REFERENCES [Courses] ([CourseID])
GO
ALTER TABLE [TermPapers] CHECK CONSTRAINT [FK_TermPapers_Courses]
GO
ALTER TABLE [TermPapers_Advisors]  WITH CHECK ADD  CONSTRAINT [FK_TermPapers_Advisors_Advisors] FOREIGN KEY([AdvisorID])
REFERENCES [Advisors] ([AdvisorID])
GO
ALTER TABLE [TermPapers_Advisors] CHECK CONSTRAINT [FK_TermPapers_Advisors_Advisors]
GO
ALTER TABLE [TermPapers_Advisors]  WITH CHECK ADD  CONSTRAINT [FK_TermPapers_Advisors_TermPapers] FOREIGN KEY([TermPaperID])
REFERENCES [TermPapers] ([TermPaperID])
GO
ALTER TABLE [TermPapers_Advisors] CHECK CONSTRAINT [FK_TermPapers_Advisors_TermPapers]
GO
USE [master]
GO
