.mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 35px;
    min-height: 35px;
    z-index: 2;

    .mat-toolbar-row {
        overflow: hidden;
    }

    .mat-icon {
        transform: scale(4.5);
        top: 0;
        margin: auto;
        margin-top: .2%;
        left: calc(50% - 24px);
        position: fixed;
        overflow: hidden;
    }

    .ifsc-navbar__login {
        background-color: rgb(0, 167, 0);
        color: white;
        position: fixed;
        left: calc(95% - 24px);
        height: 35px;
    }
}
