<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button
            mat-button
            (click)="onLogoClick()">
            <mat-icon svgIcon="ifsc-logo"></mat-icon>
        </button>

        <button
            mat-button
            *ngIf="!isLogged"
            class="ifsc-navbar__login"
            (click)="onLogin()">
            Login
        </button>

        <button
            mat-button
            *ngIf="isLogged"
            class="ifsc-navbar__login"
            (click)="onLogout()">
            Logout
        </button>
    </mat-toolbar-row>
</mat-toolbar>
