.term-paper-card {
    display: flex;
    flex-wrap: wrap;

    &__content {
        align-self: flex-start;
        flex: 0 0 auto;
        width: 250px;
        margin-left: 1%;
        margin-bottom: 1.5%;
        max-height: 300px;
    }
}
