<h1>Cadastro de trabalho</h1>

<form
    [formGroup]="termPaper"
    (ngSubmit)="onSubmit(termPaper)">

    <div class="container">
        <section class="row">
            <div class="item">
                <mat-form-field>
                    <input matInput placeholder="{{resources.labels.typeTermPaperTitle}}" formControlName="title" required>

                    <mat-error *ngIf="f.title.errors?.required">{{resources.validators.thisFieldIsRequired}}</mat-error>
                    <mat-error *ngIf="f.title.errors?.minlength">{{resources.validators.mustContainAtLeastFourChar}}</mat-error>
                    <mat-error *ngIf="f.title.errors?.maxlength">{{resources.validators.shouldntContainMoreThanOneHundredChar}}</mat-error>
                </mat-form-field>
            </div>

            <div class="item">
                <mat-form-field>
                    <input matInput placeholder="{{resources.labels.typeAreaCourseName}}" formControlName="area" required>

                    <mat-error *ngIf="f.area.errors?.required">{{resources.validators.thisFieldIsRequired}}</mat-error>
                    <mat-error *ngIf="f.area.errors?.minlength">{{resources.validators.mustContainAtLeastFourChar}}</mat-error>
                    <mat-error *ngIf="f.area.errors?.maxlength">{{resources.validators.shouldntContainMoreThanFiftyChar}}</mat-error>
                </mat-form-field>
            </div>

            <div class="item">
                <mat-form-field>
                    <input matInput placeholder="{{resources.labels.typeCourseName}}" formControlName="course" required>

                    <mat-error *ngIf="f.course.errors?.required">{{resources.validators.thisFieldIsRequired}}</mat-error>
                    <mat-error *ngIf="f.course.errors?.minlength">{{resources.validators.mustContainAtLeastFourChar}}</mat-error>
                    <mat-error *ngIf="f.course.errors?.maxlength">{{resources.validators.shouldntContainMoreThanOneHundredChar}}</mat-error>
                </mat-form-field>
            </div>

            <div class="item">
                <mat-form-field>
                    <input
                        matInput
                        placeholder="{{resources.labels.chooseDateBeginTermPaper}}"
                        formControlName="dateBegin"
                        required
                        [min]="MIN_DATE"
                        [max]="MAX_DATE"
                        [matDatepicker]="pickerBegin">
                    <mat-datepicker-toggle matSuffix [for]="pickerBegin"></mat-datepicker-toggle>
                    <mat-datepicker #pickerBegin></mat-datepicker>

                    <mat-error *ngIf="f.dateBegin.errors?.required">{{resources.validators.thisFieldIsRequired}}</mat-error>
                </mat-form-field>
            </div>

            <div class="item">
                <mat-form-field>
                    <input
                        matInput
                        placeholder="{{resources.labels.chooseDateEndTermPaper}}"
                        formControlName="dateEnd"
                        required
                        [min]="MIN_DATE"
                        [max]="MAX_DATE"
                        [matDatepicker]="pickerEnd">
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>

                    <mat-error *ngIf="f.dateEnd.errors?.required">{{resources.validators.thisFieldIsRequired}}</mat-error>
                </mat-form-field>
            </div>
        </section>

        <section class="row">
            <div class="item">
                <mat-form-field>
                    <input matInput placeholder="{{resources.labels.typeAdvisorName}}" formControlName="advisor" required>

                    <mat-error *ngIf="f.advisor.errors?.required">{{resources.validators.thisFieldIsRequired}}</mat-error>
                    <mat-error *ngIf="f.advisor.errors?.minlength">{{resources.validators.mustContainAtLeastFourChar}}</mat-error>
                    <mat-error *ngIf="f.advisor.errors?.maxlength">{{resources.validators.shouldntContainMoreThanFiftyChar}}</mat-error>
                </mat-form-field>
                <button mat-mini-fab *ngIf="!hasCoAdvisor" type="button" color="primary" (click)="onAddCoAdvisor()">+</button>
            </div>

            <div class="item" *ngIf="hasCoAdvisor">
                <mat-form-field>
                    <input matInput placeholder="{{resources.labels.typeCoAdvisorName}}" formControlName="coAdvisor" required>

                    <mat-error *ngIf="f.coAdvisor.errors?.required">{{resources.validators.thisFieldIsRequired}}</mat-error>
                    <mat-error *ngIf="f.coAdvisor.errors?.minlength">{{resources.validators.mustContainAtLeastFourChar}}</mat-error>
                    <mat-error *ngIf="f.coAdvisor.errors?.maxlength">{{resources.validators.shouldntContainMoreThanFiftyChar}}</mat-error>
                </mat-form-field>
                <button type="button" mat-mini-fab color="primary" (click)="onRemoveCoAdvisor()">-</button>
            </div>

            <div class="item">
                <mat-form-field>
                    <input matInput placeholder="{{resources.labels.typeStudentName}} 1" formControlName="student1" required>

                    <mat-error *ngIf="f.student1.errors?.required">{{resources.validators.thisFieldIsRequired}}</mat-error>
                    <mat-error *ngIf="f.student1.errors?.minlength">{{resources.validators.mustContainAtLeastFourChar}}</mat-error>
                    <mat-error *ngIf="f.student1.errors?.maxlength">{{resources.validators.shouldntContainMoreThanFiftyChar}}</mat-error>
                </mat-form-field>
                <button *ngIf="!hasTwoStudents" type="button" mat-mini-fab color="primary" (click)="onAddStudent()">+</button>
            </div>

            <div class="item" *ngIf="hasTwoStudents">
                <mat-form-field>
                    <input matInput placeholder="{{resources.labels.typeStudentName}} 2" formControlName="student2" required>

                    <mat-error *ngIf="f.student2.errors?.required">{{resources.validators.thisFieldIsRequired}}</mat-error>
                    <mat-error *ngIf="f.student2.errors?.minlength">{{resources.validators.mustContainAtLeastFourChar}}</mat-error>
                    <mat-error *ngIf="f.student2.errors?.maxlength">{{resources.validators.shouldntContainMoreThanFiftyChar}}</mat-error>
                </mat-form-field>
                <button mat-mini-fab type="button" color="primary" (click)="onRemoveStudent()">-</button>
            </div>

            <div class="item">
                <mat-form-field>
                    <mat-chip-list #chipList>
                        <mat-chip
                            *ngFor="let keyword of keywords"
                            [selectable]="true"
                            [removable]="true"
                            (removed)="keywordRemove(keyword)">
                            {{keyword}}
                            <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                        </mat-chip>
                        <input
                            placeholder="{{resources.labels.keywordSelection}}"
                            formControlName="keywords"
                            #keywordInput
                            [matAutocomplete]="auto"
                            [matChipInputFor]="chipList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="true"
                            (matChipInputTokenEnd)="keywordAdd($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="keywordSelected($event); keywordInput.value = ''">
                        <mat-option *ngFor="let keyword of filteredKeywords | async" [value]="keyword">
                            {{keyword}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="f.keywords.errors?.required">{{resources.validators.thisFieldIsRequired}}</mat-error>
                </mat-form-field>
            </div>
        </section>
    </div>
    <div class="file-select">
        <input #file type="file" accept=".pdf" class="file-upload" (change)="fileChange($event)"/>
        <button mat-raised-button color="primary" type="button" (click)="file.click()">{{resources.labels.chooseFile}}</button>
        <label>{{fileName ? fileName : resources.labels.noFileSelected}}</label>
        <mat-error *ngIf="fileUploadedShowError">{{resources.validators.shouldSelectFileWithCorrectFormat}}</mat-error>
    </div>
    <div class="submit-buttons">
        <button mat-raised-button color="primary" type="submit">{{resources.labels.save}}</button>
        <button mat-raised-button type="reset" (click)="onReset()">{{resources.labels.cancel}}</button>
    </div>
</form>
<ifsc-spinner [isLoading]="isLoading"></ifsc-spinner>
