<mat-form-field appearance="outline">
    <mat-label>{{resources.labels.searchBy}}</mat-label>
    <input matInput (keyup)="onKeyUp($event)">
</mat-form-field>

<div class="ifsc-searchbar__actions">
    <button
        mat-button
        disableRipple
        (click)="onNew()">
        <mat-icon svgIcon="add"></mat-icon>
        {{resources.labels.new}}
    </button>
    <button mat-button disableRipple>
        <mat-icon svgIcon="delete"></mat-icon>
        {{resources.labels.delete}}
    </button>
</div>
<hr>
