.mat-form-field {
    width: 35%;
    position: fixed;
    top: 10%;
    margin: 0;
    padding: 0;
    left: calc(50% - (35% / 2));
}

hr {
    position: relative;
    width: 100%;
    top: 300px;
}
